@model DeployDemo.Web.Models.InfoModel

<h1>ASP.NET Core Deploy Demo</h1>

<p>Environment: @Model.Environment</p>
<p>Production: @Model.IsProduction</p>
<p>File version: @Model.FileVersion</p>
<p>Product version: @Model.ProductVersion</p>
<p>Connection string: @Model.ConnectionString</p>
